<div class="row">
    <div class="col-md-12">
        <h2>Posts</h2>
        <hr />
        {{#if post}}
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <th>Post&nbsp;ID</th>
                    <th>Title</th>
                    <th>Post&nbsp;Date</th>
                    <th>Category</th>
                    <th>Published</th>
                </thead>
                <tbody>
                    <tr>
                        <td>{{post.id}}</td>
                        <td>{{post.title}}</td>
                        <td>{{#formatDate post.postDate}}{{/formatDate}}</td>
                        <td><a href="/posts?category={{category}}">
                                {{post.category}}</a></td>
                        <td>{{post.published}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {{else}}
    <div class="col-md-12 text-center">
        <strong>{{message}}</strong>
    </div>
    {{/if}}
</div>
</div>